@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap");
/* PC */
@media screen and (min-width: 1025px) {
  body {
    margin: 0;
    background-color: #f9f9f9;
  }

  .container {
    display: flex;
    height: 100vh;
  }

  .left {
    flex: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f5edff;
  }

  .ctn-logo {
    display: flex;
    height: 210px;
  }
  .welcome {
    padding-top: 160px;
    margin-bottom: -20px;
  }

  #logo {
    width: 220px;
    height: 220px;
    margin-left: -20px;
  }

  .right {
    flex: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
  }

  h1 {
    font-family: "Roboto", sans-serif;
    color: #1e1e1e;
    font-weight: normal;
    font-size: 36px;
    margin-top: 0;
    margin-bottom: 140px;
  }

  .highlight {
    padding-top: -50px;
    color: #7000ff;
    font-family: "DM Sans";
    font-size: 96px;
    font-weight: 700;
    line-height: 0;
    letter-spacing: 0em;
    text-align: right;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }

  form {
    width: 100%;
    max-width: 450px;
    height: 460px;
    padding: 30px 20px;
    box-sizing: border-box;
    /* background: #FFFFFF; */
    /* border: 2px solid #000000; */
  }

  h2 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 66px;
    line-height: 46px;
    color: #000000;
    text-align: center;
    margin-top: 0;
    margin-bottom: 38px;
  }

  h4 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 0;
    color: red;
    margin-bottom: 24px;
    text-align: center;
    display: none;
  }

  .user {
    display: flex;
    align-items: center;
  }

  .pass {
    display: flex;
    align-items: center;
  }

  .input-user {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 14px 24px;
    background: #efefef;
    border: 1px solid #a4a4a4;
    border-radius: 16px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
  }

  .input-pass {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 14px 24px;
    background: #efefef;
    border: none;
    border-radius: 16px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 0;
  }

  button[type="button"] {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    padding: 13px;
    background: #7000ff;
    color: #efefef;
    border-radius: 16px;
    border: none;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
  }

  button[type="button"]:hover {
    background-color: #450c8d;
  }

  p {
    margin-top: 24px;
    font-weight: bold;
    text-align: center;
    font-family: "Roboto", sans-serif;
  }

  .dk {
    color: #8a28f9;
    text-decoration: none;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
  }

  ::placeholder {
    color: #767676;
    font-family: "Roboto", sans-serif;
  }

  .qmk {
    color: #000000;
    display: flex;
    justify-content: center;
    margin-top: 24px;
    margin-bottom: 0;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
  }

  .pass {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #efefef;
    border: 1px solid #a4a4a4;
    border-radius: 16px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 0;
    margin-bottom: 20px;
  }

  .pass span {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #8e44ad;
    cursor: pointer;
    display: none;
  }

  .pass input:valid ~ span {
    display: block;
  }

  .pass span img.hide-btn::before {
    content: "f070";
  }

  img {
    padding-top: 6px;
  }

  .er {
    text-align: center;
    color: red;
    margin-bottom: 1rem;
    display: none;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
  }
}
/* PC */
@media screen and (min-width: 1124px) and (max-width: 1224px) {
  .h1 {
    font-size: 26px;
  }
  .ctn-logo {
    display: flex;
    height: 190px;
  }
  .welcome {
    padding-top: 140px;
    margin-bottom: -20px;
  }

  #logo {
    width: 200px;
    height: 200px;
    margin-left: -20px;
  }
  .highlight {
    font-size: 86px;
  }
  form {
    width: 100%;
    max-width: 400px;
    height: 460px;
    padding: 30px 20px;
    box-sizing: border-box;
    /* background: #FFFFFF; */
    /* border: 2px solid #000000; */
  }

  h2 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 66px;
    line-height: 46px;
    color: #000000;
    text-align: center;
    margin-top: 0;
    margin-bottom: 38px;
  }

  h4 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 0;
    color: red;
    margin-bottom: 24px;
    text-align: center;
    display: none;
  }
  .er {
    text-align: center;
    color: red;
    margin-bottom: 1rem;
    display: none;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
  }
}
/* PC */
@media screen and (min-width: 1025px) and (max-width: 1123px) {
  .h1 {
    font-size: 16px;
  }
  .ctn-logo {
    display: flex;
    height: 160px;
  }
  .welcome {
    padding-top: 130px;
    margin-bottom: -20px;
  }

  #logo {
    width: 190px;
    height: 190px;
    margin-left: -20px;
  }
  .highlight {
    font-size: 76px;
  }
  form {
    width: 100%;
    max-width: 400px;
    height: 460px;
    padding: 30px 20px;
    box-sizing: border-box;
    /* background: #FFFFFF; */
    /* border: 2px solid #000000; */
  }

  h2 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 66px;
    line-height: 46px;
    color: #000000;
    text-align: center;
    margin-top: 0;
    margin-bottom: 38px;
  }

  h4 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 0;
    color: red;
    margin-top: 0;
    margin-bottom: 24px;
    text-align: center;
    display: none;
  }
  .er {
    text-align: center;
    color: red;
    margin-bottom: 1rem;
    display: none;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
  }
}
/* tablet */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  body {
    margin: 0;
    background-color: #f5edff;
  }

  .container {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .ctn-logo {
    display: flex;
    height: 220px;
  }
  .welcome {
    padding-top: 160px;
    margin-bottom: -20px;
  }

  #logo {
    width: 240px;
    height: 240px;
    margin-left: -20px;
  }

  h1 {
    font-family: "Roboto", sans-serif;
    color: #1e1e1e;
    font-weight: normal;
    font-size: 50px;
    text-align: center;
    margin-top: 0;
  }

  .highlight {
    color: #7000ff;
    font-family: "DM Sans";
    font-size: 130px;
    font-weight: 700;
    line-height: 0;
    letter-spacing: 0em;
    text-align: right;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
  form {
    width: 660px;
    height: 600px;
    padding: 30px 20px;
    box-sizing: border-box;
    /* background: #FFFFFF; */
    /* border: 2px solid #000000; */
  }

  h2 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 46px;
    color: #000000;
    text-align: center;
    margin-top: 0;
    margin-bottom: 46px;
  }

  h4 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 0;
    color: red;
    margin-bottom: 28px;
    text-align: center;
    display: none;
  }

  .user {
    display: flex;
    align-items: center;
  }

  .input-user {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 24px 24px;
    background: #efefef;
    border: 1px solid #a4a4a4;
    border-radius: 16px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 30px;
    font-size: 32px;
  }

  .input-pass {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 24px 24px;
    background: #efefef;
    border: none;
    border-radius: 16px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 0;
    font-size: 32px;
  }

  button[type="button"] {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    padding: 24px;
    background: #7000ff;
    color: #efefef;
    border-radius: 16px;
    border: none;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    margin-top: 2rem;
  }

  button[type="button"]:hover {
    background-color: #450c8d;
  }

  p {
    margin-top: 24px;
    font-weight: bold;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
  }

  .dk {
    color: #8a28f9;
    text-decoration: none;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
  }

  ::placeholder {
    color: #767676;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
  }

  .qmk {
    color: #000000;
    display: flex;
    justify-content: center;
    margin-top: 24px;
    margin-bottom: 0;
    font-size: 30px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
  }

  .pass {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #efefef;
    border: 1px solid #a4a4a4;
    border-radius: 16px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 0;
    margin-bottom: 20px;
  }

  .pass span {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #8e44ad;
    cursor: pointer;
    display: none;
  }

  .pass input:valid ~ span {
    display: block;
  }

  .pass span img.hide-btn::before {
    content: "f070";
  }

  img {
    padding-top: 6px;
    width: 40px;
  }
  .er {
    text-align: center;
    color: red;
    margin-bottom: 1rem;
    display: none;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
  }
}
/* Mobile */
@media screen and (max-width: 768px) {
  body {
    margin: 0;
    background-color: #f5edff;
  }

  .container {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .ctn-logo {
    display: flex;
    height: 210px;
  }
  .welcome {
    padding-top: 150px;
    margin-bottom: -20px;
  }
  #logo {
    width: 220px;
    height: 220px;
    /* margin-left: -20px; */
  }

  h1 {
    font-family: "Roboto", sans-serif;
    color: #1e1e1e;
    font-weight: normal;
    font-size: 36px;
    text-align: center;
    margin-top: 0;
  }

  .highlight {
    color: #7000ff;
    font-family: "DM Sans";
    font-size: 136px;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: 0em;
    text-align: right;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
  form {
    width: 100%;
    height: 860px;
    padding: 30px 20px;
    box-sizing: border-box;
    /* background: #FFFFFF; */
    /* border: 2px solid #000000; */
  }

  h2 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 76px;
    line-height: 46px;
    color: #000000;
    text-align: center;
    margin-top: 0;
    margin-bottom: 45px;
  }

  h4 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 0;
    color: red;
    margin-top: 1.3rem;
    margin-bottom: 28px;
    text-align: center;
    display: none;
  }

  .user {
    display: flex;
    align-items: center;
  }

  .input-user {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 24px 24px;
    background: #efefef;
    border: 1px solid #a4a4a4;
    border-radius: 16px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 30px;
    font-size: 32px;
  }

  .input-pass {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 24px 24px;
    background: #efefef;
    border: none;
    border-radius: 16px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 0;
    font-size: 32px;
  }

  button[type="button"] {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    padding: 24px;
    background: #7000ff;
    color: #efefef;
    border-radius: 16px;
    border: none;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    margin-top: 2rem;
  }

  button[type="button"]:hover {
    background-color: #450c8d;
  }

  p {
    margin-top: 24px;
    font-weight: bold;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
  }

  .dk {
    color: #8a28f9;
    text-decoration: none;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
  }

  ::placeholder {
    color: #767676;
    font-family: "Roboto", sans-serif;
    font-size: 25px;
  }

  .qmk {
    color: #000000;
    display: flex;
    justify-content: center;
    margin-top: 28px;
    margin-bottom: 0;
    font-size: 18px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
  }

  .pass {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #efefef;
    border: 1px solid #a4a4a4;
    border-radius: 16px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 0;
    margin-bottom: 20px;
  }

  .pass span {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #8e44ad;
    cursor: pointer;
    display: none;
  }

  .pass input:valid ~ span {
    display: block;
  }

  .pass span img.hide-btn::before {
    content: "f070";
  }

  img {
    padding-top: 6px;
  }
  .er {
    text-align: center;
    color: red;
    margin-bottom: 1rem;
    display: none;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
  }
}
